

body{
    background-image: linear-gradient(to right, #85a4c2, #f0e5d8);
    font-family: Arial, sans-serif;
}
h1{
   
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.position{
    height: 100vh;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 1px 2px;

}
img{
    width: 300px;
    height: 50%;
}
article {
    display:flex;
    align-items: center;
    justify-content: center;

   
}
   
   article > .size{
    display: inline-block;
    width:300px ;
    height: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 1px 2px;
    border: 1px solid #ccc;
}